@import url("https://fonts.googleapis.com/css?family=Lato:100,400|Raleway:700");
*, * :before, * :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .2s ease-in; }

header {
  background: #024869 url("img/header.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 50px 192px; }
  header .header {
    position: relative; }
    header .header__icon {
      display: inline-block; }
    header .header__navmenu {
      display: inline-block;
      position: absolute;
      right: 0; }
      header .header__navmenu-link {
        font-family: Lato, sans-serif;
        color: #fffffe;
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 45px; }
        header .header__navmenu-link:hover {
          color: #8BCCBC; }
      header .header__navmenu-link:last-child {
        margin-right: 0; }
    header .header__title {
      font-family: Raleway, sans-serif;
      color: #ffffff;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 250px; }
    header .header__hr {
      width: 85px;
      border-bottom: 2px solid white;
      margin: 0 auto; }
    header .header__content {
      font-family: Lato, sans-serif;
      color: #fffefe;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-align: center; }
    header .header__scroll {
      text-align: center;
      margin: 100px auto; }
      header .header__scroll:hover {
        transform: translate3d(0, 10%, 0) scale(1, 1); }

main .main {
  width: 100%;
  height: auto;
  padding: 100px 192px; }
  main .main__title {
    font-family: Raleway, sans-serif;
    color: #222222;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase; }
  main .main__hr {
    width: 85px;
    border-bottom: 2px solid #222222;
    margin: 0 auto; }
  main .main__row {
    display: inline-block;
    width: 30%;
    float: left;
    margin-top: 75px;
    text-decoration: none;
    margin-right: 5%; }
    main .main__row:hover {
      background: rgba(128, 152, 163, 0.5);
      color: black;
      border-radius: 10px; }
    main .main__row:last-of-type {
      margin-right: 0; }
    main .main__row-content {
      width: 100%;
      height: 325px;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center; }
      main .main__row-content--img {
        margin: 0 auto; }
      main .main__row-content--title {
        font-family: Lato, sans-serif;
        color: #222222;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
      main .main__row-content--text {
        font-family: Lato, sans-serif;
        color: #222222;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: center; }
main .clear {
  clear: both; }
main .info {
  background: #393939 url("img/section.png");
  height: 500px;
  width: 100%;
  background-size: cover;
  padding: 100px 192px; }
  main .info__container {
    display: inline-block;
    width: 60%; }
  main .info__title {
    font-family: Lato, sans-serif;
    color: #ffffff;
    font-size: 44.67px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 53px; }
  main .info__content {
    font-family: Lato, sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    text-align: left; }
  main .info__link {
    display: inline-block;
    font-family: Lato, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 65px; }
    main .info__link:hover {
      color: #8BCCBC; }

.section4 {
  width: 100%;
  height: 100vh;
  padding: 2% 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .section4__title {
    font-family: Raleway, sans-serif;
    color: #222222;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase; }
  .section4__hr {
    width: 85px;
    border-bottom: 2px solid #222222;
    margin: 0 auto; }
  .section4__row {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .section4__row-img {
      display: inline-block;
      height: 420px;
      width: 370px;
      margin-top: 2%;
      text-decoration: none; }
      .section4__row-img:first-of-type {
        background: url("img/Layer 17.png") no-repeat; }
      .section4__row-img:nth-child(2) {
        background: url("img/Layer 16.png") no-repeat; }
      .section4__row-img:last-child {
        background: url("img/Layer 21.png") no-repeat;
        margin-right: 0; }
      .section4__row-img a {
        display: flex;
        width: 100%;
        height: 100%;
        font-family: Lato, sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 22px;
        font-weight: 400;
        line-height: 60px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 0;
        justify-content: center;
        flex-direction: column; }
        .section4__row-img a:hover {
          opacity: 1; }
  .section4__btn {
    display: block;
    font-family: Lato, sans-serif;
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    width: 370px;
    height: 60px;
    vertical-align: middle;
    text-transform: uppercase;
    background: transparent;
    border: 5px solid #222222;
    margin: 0 auto; }

footer {
  background: #024869 url("img/footer.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 100px 192px; }
  footer .footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer .footer__title {
      font-family: Raleway, sans-serif;
      color: #fff;
      font-size: 35px;
      font-weight: 700;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      margin: 0; }
    footer .footer__hr {
      width: 85px;
      border-bottom: 2px solid #fff;
      margin: 0 auto; }
    footer .footer__icons {
      color: white;
      font-size: 24px;
      text-align: center; }
      footer .footer__icons i {
        margin-right: 24px; }
        footer .footer__icons i:hover {
          color: #8BCCBC;
          cursor: pointer; }
    footer .footer__form {
      width: 700px;
      height: 230px;
      margin: 2% auto;
      border: none; }
      footer .footer__form label {
        display: inline-block;
        width: 40%;
        height: 40px; }
        footer .footer__form label:first-child {
          margin-right: 19%; }
        footer .footer__form label:nth-child(3) {
          margin-top: 10%;
          width: 100%; }
      footer .footer__form-input {
        font-family: Lato, sans-serif;
        color: #676767;
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        font-style: italic;
        background: transparent;
        width: 100%;
        height: 100%;
        border-width: 0 0 2px 0;
        padding-left: 30px;
        outline: none; }
        footer .footer__form-input:focus {
          border: 2px solid #fff;
          box-shadow: #8BCCBC 3px; }
      footer .footer__form-btn {
        display: block;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        width: 184px;
        height: 60px;
        vertical-align: middle;
        text-transform: uppercase;
        background: transparent;
        border: 4px solid #fff;
        margin: 50px auto; }

/*# sourceMappingURL=main.css.map */
